body{
    user-select: none;
    background-color: #242b33;
}
.top{
    /* margin-top: 50px; */
    background-image: linear-gradient(#1a1e24,#2D343C61,#242B33),
    url(/img/back1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1491px;
    height: 600px;
    margin: -23px;
    padding: 0;
}
.header{
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 1491px;
    height: 100px;
    /* border: solid white ; */
}
.left{
    position: absolute;
    height: 100px;
    left: 290px;
}
.left img{
    margin-top: 30px;
}
.left p{
    color: white;
    margin: 0;
    font-style: italic;
}
.right{
    align-items: center;
    height: 100px;
    margin-left: 370px;
    display: flex;
    /* border: solid 2px red; */
    width: 700px;
    justify-content: space-evenly;
}
.right p{
    display: flex;
    justify-content: center;
    width: 130px;
    color: white;
    font-style: italic;
}
.right p:hover{
    font-weight: bold;
}
.center{
    justify-content: space-between;
    flex-direction: column;
    /* align-items: center; */
    display: flex;
    position: absolute;
    left: 470px;
    width: 500px;
    height: 350px;
    margin-top: 130px;
    margin-right: 10px;
    /* border: solid 1px white; */
}
.topp{
    flex-direction: column;
    display: flex;
    align-items: center;
}
.topp h1{
    color:rgba(241, 218, 91, 0.845) ;
    text-align: center;
    font-style: italic;
}
.topp img{
    margin-top: 30px;
}
.bottomm{
    display: flex;
    height: 50px;
    width: 500px;
    justify-content: space-evenly;
    align-items: center;
}
.leftt{
    align-items: center;
    display: flex;
    height: 30px;
    width: 201px;
}
.rightt{
    align-items: center;
    display: flex;
    height: 30px;
    width: 140px;
}
.rightt p{
    color: white;
}
.leftt p{
    color: white;
}
.mid{
    display: flex;
    width: 700px;
    height: 180px;
    align-items: center;
    margin-left: 450px;
    margin-top: 100px;
}

.mid p{
    color: white;
    /* font-style: italic; */
    margin-top: 50px;
}
.mid img{
    width: 50px;
    height: 50px;
}
.skameika{
    width: 150px;
    height: 150px;
}
.dom{
    width: 150px;
    height: 150px;
}
.founatain{
    width: 109px;
    height: 150px;
}
.velik{
    width: 120px;
    height: 150px;
}
.mid div{
    text-align: center;
}
.apartments{
    color:rgba(241, 218, 91, 0.845) ;
    margin-left: 370px;
    margin-top: 100px;
    font-style: italic;
}
.loft div{
    margin-left: 20px;
}
.loft{
    margin-left: 350px;
    width: 750px;
    height: 540px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;

}
.one{
    background-image: url(/img3/Rectangle.png);
    width: 350px;
    height: 250px;
}
.two{
    background-image: url(/img3/Rectangle.png);
    width: 350px;
    height: 250px;
}
.three{
    background-image: url(/img3/Rectangle.png);
    width: 350px;
    height: 250px;
}
.four{
    background-image: url(/img3/Rectangle.png);
    width: 350px;
    height: 250px;
}
.loft p{
    color: white;
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    margin-top: 210px;
    margin-left: 20px;
}
.fourpart{
    width: 1491px;
    height: 560px;
    background-image: linear-gradient(#1a1e24,#2D343C61,#242B33),
    url(/img4/backkk.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: -23px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.fourpart h1{
    font-style: italic;
    color:rgba(241, 218, 91, 0.845);
    margin-top: 4px;
}
.fourtext{
    width: 470px;
    height: 160px;
}
.fourinp{
    display: flex;
    width: 540px;
    height: 150px;
    flex-direction: column;
    flex-wrap: wrap;
}
.fourinp input{
    outline: none;
    text-align: center;
    width: 255px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.622);
    border: none;
}
.fourinp div{
    font-style: italic;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 255px;
    height: 50px;
    color: white;
    background-color:rgba(241, 218, 91, 0.845) ;
    margin-top: 40px;
}
.fourinp p{
    color: white;
    font-style: italic;
    font-weight: bold;
    height: 30px;
    width: 280px;
    text-align: center;
    margin-top: 50px;
}
.fivepart{
    margin-left: 530px;
    width: 400px;
    height: 400px;
    background-image: linear-gradient(#1a1e24,#22272d61,#1a1f25),
    url(/img5/part5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.treygl{
    width: 100px;
    height: 100px;
    background-image: url(/img5/Vector.png);
}
.cc{
    color:rgba(241, 218, 91, 0.845) ;
    font-style: italic;
    margin-left: 370px;
    margin-top: 100px;
}
.maps{
    margin-top: 50px;
    width: 800px;
    height: 300px;
    border: solid 1px white;
    margin-left: 328px;
}
.api{
    width: 100%;
    height: 300px;
}
.pre-end{
    display: flex;
    color: white;
    width: 800px;
    height: 200px;
    /* border: solid 1px white; */
    margin-left: 328px;
    margin-top: 100px;
}
.textttt{
    width: 470px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
}
.textttt h1{
    color:rgba(241, 218, 91, 0.845) ;
    font-style: italic;
}
.buttt input{
    outline: none;
    text-align: center;
    width: 150px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.622);
    border: none;
    border-radius: 10px;
}
.buttt div{
    border-radius: 10px;
    font-style: italic;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 52px;
    color: white;
    background-color:rgba(241, 218, 91, 0.845) ;

}
.buttt{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: space-around;
}
.ii{
    color: white;
    position: absolute;
    font-size: 350px;
    opacity: 0.03;
    right: 200px;
    top: 500px;
}
.iii{
    top: 900px;
    left: 200px;
    color: white;
    position: absolute;
    font-size: 350px;
    opacity: 0.03;
}
.iv{
    top: 2090px;
    left: 970px;
    color: white;
    position: absolute;
    font-size: 350px;
    opacity: 0.03;
}
.v{
    top: 2540px;
    left: 170px;
    color: white;
    position: absolute;
    font-size: 350px;
    opacity: 0.03;
}
.end{
    margin-top: 200px;
    display: flex;
    width: 100%;
    height: 200px;
    color: white;
    background-color: #343e49;
    align-items: center;
    justify-content: space-evenly;
}
.noooo{
    display: flex;
    flex-direction: column;
}